.login-body {
    background-color: var(--bs-primary); /* Substitua pela cor desejada */
  }
  
#login {
  margin: 10vh 0 24vh 0;
}

#login .card{
  background-image:linear-gradient(25deg, var(--bs-secondary), var(--bs-primary));
  
}
