.login-body {
    background-color: var(--bs-primary); /* Substitua pela cor desejada */
  }
  
#login {
  margin: 20vh 0 0 0;
}

#login .card{
  width: 45vh;
  background-image:linear-gradient(0deg, var(--bs-secondary), var(--bs-primary));
  /* box-shadow: 0 7px 15px var(--bs-secondary) */
}

#login .card form input{
  background-color: transparent;
  color: var(--bs-gray-100);
  border-color: var(--bs-gray-100);
}

#login .card form input:focus{
  box-shadow: 0 7px 15px var(--bs-gray-100);
}

#login .card form button{
  box-shadow: 0 7px 15px var(--bs-secondary);
}